<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--
        広告ID(AD_ID)パーミッションは SDK 側では付与しない。
        SDK が依存する play-services-ads-identifier の Manifest が自動マージするため、
        tools:node="remove" で明示的に除去する。
        adId を利用するホストアプリは、自身の AndroidManifest.xml で
        com.google.android.gms.permission.AD_ID を明示的に宣言すること。
    -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove"/>

    <!-- merge target -->
    <application>
        <activity android:name="com.smart_bdash.mobile.analytics.notification.BDashPopupActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@style/BDashSDK_PopupNotification"
        />

    </application>


</manifest>
